python=3.8
torch-scatter=2.0.9
cudatoolkit-dev=11.1.1
cudatoolkit=11.1.1
openbabel
pillow=9.2.0
pytorch=1.9.0
gsd=2.5.3
mdanalysis=2.0.0
prody=2.1.0
rdkit=2022.03.03
scipy=1.6.2
seaborn=0.11.2
matplotlib=3.4.3
joblib=1.0.1
